table {
    width:70%;
      
  }
  .mat-tab-group{
    font-size: 14px;
    width: 70%;
    margin-left:15%; 
    margin-right:15%;
    margin-top: 10%;
  }
  .mat-form-field {
    font-size: 14px;
    width:70%;
    
  }
  
  td, th {
    padding: 15px;
    text-align: left;
  }