<app-navbar></app-navbar>
<div class=" container" routerLinkActive="active">
  Selamat Datang, {{id}}
  <mat-tab-group routerLink="/admin">
    <mat-tab label="Kasir">
      <app-admin-kasir></app-admin-kasir>
    </mat-tab>
    <mat-tab label="Koki">
      <app-admin-koki></app-admin-koki>
    </mat-tab>
    <mat-tab label="Menu">
      <app-admin-menu></app-admin-menu>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="col-md-6 col-md-offset-3 loginBox">    
    Selamat Datang,  {{id}}    
    <a href="javascript:void(0);" (click)="logout()">Logout</a>    
</div>   