<mat-toolbar color="primary" class="app-toolbar">
    <mat-toolbar-row>
        <button mat-button routerLink='/home'>
            <mat-icon>home</mat-icon>
            <span>Simposium </span>
          </button>
      <span class="spacer"></span>
      <span class="col-md-3 col-md-offset-3 loginBox">  
          <img src="../../../assets/admin.jpg" alt="Avatar" class="avatar">  
          Selamat Datang  {{id}}       
      </span>   
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink='/home'>
          <mat-icon>close</mat-icon>
          <a href="javascript:void(0);" (click)="logout()">Logout</a>  
        </button>
      </mat-menu>   
    </mat-toolbar-row>
  </mat-toolbar>
<div class=" container" routerLinkActive="active">
  <mat-tab-group routerLink="/admin">
    <mat-tab label="Kasir">
      <app-admin-kasir></app-admin-kasir>
    </mat-tab>
    <mat-tab label="Koki">
      <app-admin-koki></app-admin-koki>
    </mat-tab>
    <mat-tab label="Menu">
      <app-admin-menu></app-admin-menu>
    </mat-tab>
  </mat-tab-group>
</div>
