
<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
    <span>Simposium</span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <button mat-button>
      <mat-icon>shopping_cart</mat-icon>
      <span>Pesanan</span>
    </button>
    <button mat-button *ngIf="isKasir()" (click)="tourToKoki()">
      <mat-icon>restaurant_menu</mat-icon>
      <span>Koki</span>
    </button>
    <button mat-button *ngIf="isKasir()" (click)="tourToKasir()">
      <mat-icon>lock</mat-icon>
      <span>Kasir</span>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="isPelanggan()" (click)="tourToPelanggan()">
        <mat-icon>fastfood</mat-icon>
        <span>Menu</span>
      </button>
      <button mat-menu-item *ngIf="isAdmin()" (click)="tourToAdmin()">
        <mat-icon>fastfood</mat-icon>
        <span>Admin</span>
      </button>
      <button mat-menu-item  (click)="logOut()">
        <mat-icon>close</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>   
  </mat-toolbar-row>
</mat-toolbar>

