<div class="container">
    <div class="row">
      <div class="col-4">
        <form [formGroup]="MenuForm">
            <mat-form-field>
                <input matInput placeholder="Nama" formControlName="name">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Harga" formControlName="harga">
              </mat-form-field>
              <div>
                <div *ngIf="afterTouch">
                    <div class="alert alert-success" role="alert" *ngIf="statusUpload">
                        Upload Success!
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="!statusUpload">
                        Upload Failed!
                    </div>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="image($event)">
                    <label class="custom-file-label" for="inputGroupFile01">{{ chooseFile }}</label>
                </div>
                  <button (click)="upload()">UPLOAD</button>
              </div>
              <button mat-button (click)="saveMenu()">
                <mat-icon>save_alt</mat-icon>
                <mat-label>Tambah</mat-label>
              </button>
        </form>
      </div>
      <div class="col-8">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        <table mat-table #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="Nama">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nama </th>
            <td mat-cell *matCellDef="let row"> {{row.Nama}} </td>
          </ng-container>
          <ng-container matColumnDef="harga">
            <th mat-header-cell *matHeaderCellDef> Harga </th>
            <td mat-cell *matCellDef="let row"> {{row.harga}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row"> 
              <button mat-button (click)="hapusMenu(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columsDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columsDisplay;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
