<mat-card>
  <mat-tab-group>
    <mat-tab label = "Pelanggan">
      <mat-card-title>Pelanggan</mat-card-title>
      <mat-card-content>
        <form [formGroup] = "pelanggan">
          <p>
            <mat-form-field>
             <input matInput placeholder="Nama" formControlName="nama" required>
             <mat-hint>Masukkan Nama Anda</mat-hint>
             <mat-error *ngIf="pelanggan.invalid">
               Isi nama Anda terlebih dahulu
             </mat-error>
            </mat-form-field>
          </p>
          <div class="button">
            <button mat-raised-button color="accent" [disabled]="pelanggan.invalid" (click)="orderPelanggan()" routerLinkActive="active" >Pesan</button>
          </div> 
        </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Kasir">
      <mat-card-title>Login Kasir Disini</mat-card-title>
      <mat-card-content>
        <form [formGroup]="kasir">
          <p>
            <mat-form-field appereance="outline">
              <input matInput placeholder="Username Anda" formControlName="usernameKasir">
              <mat-error *ngIf="kasir.invalid">Username wajib diisi</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input id="inipassword" type="password" matInput placeholder="Password" formControlName="passwordKasir">
              <mat-icon matSuffix class="material-icons" showHideTrigger="inipassword" 
              [showHideStatus]="{ materialIcon: true, id: 'inipassword' }"></mat-icon>
            </mat-form-field>
          </p>
          <div class="button">
            <button mat-raised-button color="accent" (click)="loginAccount('Kasir')" [disabled]="kasir.invalid">Masuk</button>
          </div>
        </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Admin">
      <mat-card-title>Apabila Anda Admin, Silahkan Login</mat-card-title>
      <mat-card-content>
        <form [formGroup] = "admin">
          <p>
            <mat-form-field appereance="outline">
                <input matInput placeholder="Username Anda" formControlName="userid">
                <mat-error *ngIf="admin.invalid">Username wajib diisi</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
              <mat-error *ngIf="admin.invalid && admin.touched">Password wajib diisi</mat-error>
            </mat-form-field>
          </p>
          <div class="button">
              <button mat-raised-button color="accent" (click)="loginAccount('Admin')" [disabled]="admin.invalid" >Masuk</button>
          </div>
        </form>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>